:root {
    --base-bg: #f6faff;
    --row-card-bg: #fff;
    --row-card-radius: 12px;
    --accent-color: 0, 0, 255;
    --border-color: #eaf1fa;
    --border-color-dark: #d5dde7;
    --template-column: repeat(6, 1fr);
    --label-show: none;
    --isMobile: false;
}


html,
body {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--base-bg);
}

#table {
    margin: 0 3em 0 3em;
    border: 1px solid var(--border-color-dark);
    border-radius: var(--row-card-radius);
    font-size: .75em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .row-card {
        display: grid;
        grid-template-columns: var(--template-column);
        padding: 1em;
        background-color: var(--row-card-bg);
        border-bottom: 1px solid var(--border-color);

        .row-card-details {
            display: flex;
            padding: .25em;
        }
    }

    .row-card:hover {
        border: 1px solid rgb(var(--accent-color));
        box-shadow: 4px 4px 16px rgba(var(--accent-color), 0.15);
    }

    .row-card:last-child {
        border-radius: 0 0 var(--row-card-radius) var(--row-card-radius);
    }

    .header {
        font-weight: bold;
        position: sticky;
        top: 0;
        background-color: var(--border-color);
        border-radius: var(--row-card-radius) var(--row-card-radius) 0 0;
    }

    .label {
        color: #777;
        display: var(--label-show);
        padding-right: .3em;
    }
}

@container style(--isMobile: true) {
    #table {
        margin: 0 1em 0 1em;

        .row-card:first-child {
            border-radius: var(--row-card-radius) var(--row-card-radius) 0 0;
        }
    }
}