:root {
    /* --base-bg: #f6faff; */
    --row-card-bg: #fff;
    --row-card-radius: 12px;
    --accent-color: 0, 138, 255;
    --template-column: repeat(6, 1fr);
    --label-show: none;
    --isMobile: false;
}


html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    background-color: rgba(var(--accent-color), 0.05);
}

.btn-no-bg {
    color: rgb(var(--accent-color));
    background-color: transparent;
    border: none;
    border-radius: 6px;
    padding: .25em .35em;
    cursor: pointer;
    transition: .2s ease-in all;
}

.btn-no-bg:hover {
    background-color: rgba(var(--accent-color), 0.2);
}

#table {
    margin: 0 3em 0 3em;
    border: 1px solid rgba(var(--accent-color), 0.1);
    border-radius: var(--row-card-radius);
    font-size: .75em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .row-card,
    .header {
        display: grid;
        grid-template-columns: var(--template-column);
        padding: 1em;
        background-color: var(--row-card-bg);
        border-bottom: 1px solid rgba(var(--accent-color), 0.07);

        .row-card-details,
        .header {
            display: flex;
            padding: .25em;

            a {
                color: rgb(var(--accent-color));
                text-decoration: none;
            }
        }
    }

    .row-card:hover {
        border: 1px solid rgb(var(--accent-color));
        box-shadow: 4px 4px 16px rgba(var(--accent-color), 0.15);
    }

    .row-card:last-child {
        border-radius: 0 0 var(--row-card-radius) var(--row-card-radius);
    }

    .header {
        font-weight: bold;
        position: sticky;
        top: 0;
        background-color: rgba(var(--accent-color), 0.08);
        backdrop-filter: blur(15px);
        border-radius: var(--row-card-radius) var(--row-card-radius) 0 0;
    }

    .label {
        color: #777;
        display: var(--label-show);
        padding-right: .3em;
    }
}

#sidepanel {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;
    background-color: var(--row-card-bg);
    box-shadow: 4px 4px 16px rgba(var(--accent-color), 0.15);
    border: 1px solid rgba(var(--accent-color), 0.1);

    .sidepanel-header {
        display: grid;
        grid-template-columns: auto auto;
        gap: .25em;
        padding: 1.25em;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(var(--accent-color), 0.1);

        h3 {
            margin: 0;
        }

        #close-panel {
            font-size: 1.25em;
        }
    }

    #panel-details {
        display: grid;
        grid-template-columns: 1fr;
        gap: .5em;
        padding: 1.25em;

        .row-card-details {
            font-size: .8em;
            display: grid;
            grid-template-columns: auto 70%;
            gap: .5em;
        }

        .label {
            color: #777;
            padding-right: .3em;
        }
    }

}



@container style(--isMobile: true) {
    #table {
        margin: 0 1em 0 1em;
        font-size: .8em;

        .row-card:first-child {
            border-radius: var(--row-card-radius) var(--row-card-radius) 0 0;
        }
    }

    #sidepanel {
        width: 100vw;
        #panel-details {
            .row-card-details {
                font-size: .9em;
                grid-template-columns: auto 80%;
            }
        }
    }

    
}